<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bau" version="0.1.0-beta10" targetFramework="net45" />
  <package id="Bau.Exec" version="0.1.0-beta10" targetFramework="net45" />
  <package id="Bau.MSBuild" version="0.1.0-beta02" targetFramework="net45" />
  <package id="Bau.Xunit" version="0.1.0-beta10" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="3.3.0" />
  <package id="ScriptCs.Contracts" version="0.15.0" targetFramework="net45" />
  <package id="xunit.runners" version="1.9.2" />
</packages>
